.actionsBox {
  min-width: 500px;
  max-width: 600px;

  &--form {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 20px;
  }

  &--selectorBox {
    display: grid;
    place-content: center;
  }

  &--addBtnBox {
    display: grid;
    justify-content: center;
  }

  &--addBtn {
    width: 300px;
    justify-self: center;
  }
}
