.productListLayout {
    display: grid;
    grid-template-rows: 50px 1fr;
    row-gap: 30px;

    &--showcaseSection {
        justify-self: center;
        max-width: 1300px;
        min-width: 400px;
    }
}