@import "../../../styling/typography.scss";

.navBar {
  height: 60px;
  background-color: black;

  &--navBox {
    margin: auto;
    display: grid;
    padding: 8px 10px 0;
    grid-template-columns: 180px 1fr 100px;
    max-width: 1300px;
    min-width: 200px;
  }

  &--cartBox {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 10px;
    place-content: center;
    place-items: center;
  }

  &--breadCrumbsBox {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  &--customLink {
    color: white;
    text-transform: capitalize;
    &:hover {
      text-decoration: underline;
    }
  }

  &--cartQuantity {
    display: grid;
    place-content: center;
    font-family: $roboto;
    font-weight: bold;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    color: white;
    background-color: $accent;
  }
}
