@import '../../../../styling/typography.scss';

.productTile {
  display: grid;
  grid-template-rows: 250px 24px 16px 1fr;
  padding: 10px 15px;
  border-radius: 3px;

  width: 300px;
  height: 340px;
  background-color: white;
  cursor: pointer;

  &:hover {
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 11%);
    transition: all 0.5s ease-in;
  }

  &--imgBox {
    display: grid;
    place-content: center;
  }

  &--model {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $roboto;
    color: $primary;
  }

  &--brand {
    font-family: $roboto;
    color: $primary;
  }

  &--price {
    font-family: $roboto;
    font-size: 1.5rem;
    color: $accent;
    font-weight: bold;
    align-self: end;
    justify-self: end;
  }
}
