.detailsView {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;

  &--imgCol {
    display: grid;
    justify-content: end;
  }

  &--img {
    width: 300px;
    padding-top: 40px;
  }

  &--panelCol {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 60px;
  }

  &--imgFigure {
    display: grid;
    justify-content: center;
    width: 400px;
  }
}
