.productList {
  display: grid;
  row-gap: 30px;

  &--searchBox {
    justify-self: end;
  }

  &--showcase {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 24px;
    column-gap: 24px;

    @media screen and (max-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &--empty {
    width: 300px;
  }
}
